/* 
   Author:  Ranjit Sekhon
   Date:    11/09/2015
*/

/*
   Display HTML5 structural elements (ref: pg 18) as blocks
   (aka "grouping elements"--ref pg 26.)
*/

header, footer, nav, section, article, aside {
        display: block;   
}

/* -------------------------------------------------------*/

h1   {    color: blue;
          width: 16em;
          text-align: center;
          margin-top: 1em;
          display: block;
          font-size: xx-large;
	  border: 1px solid red;
	  padding: 5px;
	  text-shadow: 3px 4px 5px yellow;
	  margin-bottom: 5px;
	  font-variant: small-caps;
	    
  }
  
h2 {
  	  color: gray;
          width: 16em;
          text-align: center;
          margin-top: 1em;
          margin-left: 100px;
          display: block;
          font-size: medium;
	  text-shadow: 3px 4px 5px green;
	  margin-bottom: 5px;  
  }
  
#grey {
  	color: grey;
  	text-shadow: 3px 4px 5px green;
  }
  
#red {
  	  color: blue;
  	text-shadow: 3px 4px 5px green;
  }
  
  
body  {
         background-color: gold;
         margin-bottom: 5px;
         font-variant: small-caps;
}
  
form {
     border: 5px solid black;
     padding: 20px;
     background-color: orange;
     box-shadow: 2px 2px 5px black;
     width: 700px;
 }
  
#textBox {
        font-family: serif;
        width: 200px;
        margin-left: 200px;
        border-color: green;
}

.formlabels {
        display: block;
        width: 200px;
        float: left;
        margin-bottom: 10px;
    }

    .listAlign {
    	font-family: serif;
        width: 200px;
        margin-left: 200px;   
    }

  
span#controlButtons  input  {
            background-color: blue; 
            color: yellow;
            width: 12em;
            border-radius: 10px;
            margin-left: 100px;
}

.home {
	margin-left: 250px;	
}
  
fieldset#localGroup   {
                      width: 25em;
                      border-color: blue; 
}
  
nav a.mainLinks {
	font-size: 18px;
	color: red;
	text-align: middle;	
}
 
nav a:hover {
	color:green;
	text-shadow: grey 3px 4px 5px;
	text-align: middle;	
}
  
#repeat {
	margin-left: 100px;	
}

#sig {
	text-align: right;
	font-size: small;
}  

  